<fieldset>
<legend>회원가입</legend>	
<legend>Category</legend>
  <% item_types.each do |item_type| %>
    <div class="per_checkbox"><%= label_tag "loc_check_#{item_type.id}",check_box_tag("chk_categeory[]",item_type.id, false, :id => "loc_check_#{item_type.id}")+item_type.name %></div>
  <% end %>
  
</fieldset>
<fieldset>
<legend>Location</legend>
<% categories.each do |cat| %>
  <div class="per_checkbox"><%= label_tag "cat_check_#{cat.id}",check_box_tag("chk_location[]",cat.id, false, :id => "cat_check_#{cat.id}")+cat.name, :onclick => check_sub_category(cat) %></div>
<% end %>
</fieldset>