

<div style="padding-left:20px;" id="activity_block_<%= @main_id %>">
		
	  <% for child in @sub_cats %>
	  <input id="chk_categeory_<%= child.id %>" name="chk_categeory[]" value='<%= child.id %>' type="checkbox" checked="checked">

	 	<%#= check_box_tag "chk_categeory[]#{child.id}", child.id %>
	  <%= child.name %>
	  <% end %>
	 </div>

