<h1>Listing Categories</h1>

<table>
  <tr>
	  <td>ID </td>
    <td>Name</td>
    <td colspan=2>Action</td>
  </tr>

<% @item_types.each do |item_type| %>
  <tr>
	  <td><%= item_type.id %></td>
    <td><%= item_type.name %></td>
    <td><%= link_to 'Edit', edit_admin_item_type_path(item_type) %></td>
    <td><%= link_to 'Destroy', admin_item_type_path(item_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


