/**** RESETS DEFAULT BROWSER STLES *************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

.main_gp {
	display: none;
}

/* Tables still need 'cellspacing="0"' in the markup. */

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/**** PUMPL STYLE STARTS HERE *************/

body {
	margin: 0;
	padding: 0;
	background-color: #67b1df;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "NanumGothic", "MalgunGothic", sans-serif;
	font-size: 14px;
	color: #181818;
	line-height: 140%;
}

/**
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: bold;
	src: local('NanumGothic'), url('http://commondatastorage.googleapis.com/fontfacekr-fonts/NanumGothic.ttf') format('truetype');
}**/

a {
	color: #181818;
	text-decoration: none;
}

a:hover {
	color: #6FC2DF;
}

strong {
	font-weight: bolder;
}

.container {
	margin: 0 auto;
	width: 968px;
}

/**** HEADER *************/

#header {
	margin-bottom: 18px;
	width: 968px;
	height: 48px;
	background: url(/images/index_sprite.png) 0 0 no-repeat;
}

#header h1 a {
	float: left;
	margin: 0 0 0 18px;
	width: 128px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -750px -50px no-repeat;
}

#header h1 a:hover { background-position: -750px -98px; }
#header h1 a:active { background-position: -750px -146px; }

.header_divider {
	float: left;
	margin: 0 8px;
	width: 1px;
	height: 48px;
	display: inline;
	background: url(/images/index_sprite.png) -950px -50px no-repeat;
}

#header_all a {
	float: left;
	margin-left: 18px;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -450px no-repeat;
}

#header_all a:hover { background-position: 0 -498px; }
#header_all a:active { background-position: 0 -546px; }

#header_my a {
	float: left;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -100px -450px no-repeat;
}

#header_my a:hover { background-position: -100px -498px; }
#header_my a:active { background-position: -100px -546px; }

#header_right {
	float: right;
	margin-right: 18px;
	width: 140px;
}

#header_register a {
	float: left;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -200px -450px no-repeat;
}

#header_register a:hover { background-position: -200px -498px; }
#header_register a:active { background-position: -200px -546px; }

#header_login a {
	float: left;
	width: 53px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -300px -450px no-repeat;
}

#header_login a:hover { background-position: -300px -498px; }
#header_login a:active { background-position: -300px -546px; }

#header_logout a {
	float: right;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -400px -450px no-repeat;
}

#header_logout a:hover { background-position: -400px -498px; }
#header_logout a:active { background-position: -400px -546px; }

#header_twitter a {
	float: left;
	width: 80px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -750px -450px no-repeat;
}

#header_twitter a:hover { background-position: -750px -498px; }

#header_facebook a {
	float: left;
	width: 80px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -850px -450px no-repeat;
}

#header_facebook a:hover { background-position: -850px -498px; }

/**** CONTENT *************/

#content {
	float: left;
	margin-bottom: 18px;
	width: 728px;
}

#content_top {
	float: left;
	width: 728px;
	height: 18px;
	background: url(/images/index_sprite.png) 0 -50px no-repeat;
}

#content_main {
	float: left;
	padding: 0 20px;
	width: 688px;
	background-color: #fff;
	clear: both;
}

#content_bot {
	width: 728px;
	height: 18px;
	clear: both;
	background: url(/images/index_sprite.png) 0 -100px no-repeat;
}

/**** POST CONTENT *************/

.post_content {
	float: left;
	margin: 0;
	width: 688px;
	clear: both;
}

.photo {
	float: left;
	width: 200px;
	height: 125px;
}

.description {
	float: left;
	margin-left: 13px;
	width: 460px;
}

.description h2 a {
	float: left;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 125%;
	font-weight: bold;
}

.sold {
	float: left;
	font-size: 12px;
	clear: both;
}

.expire {
	float: left;
	font-size: 12px;
	clear: both;
}

.price {
	float: left;
	font-size: 20px;
	color: #4f89ac;
	clear: both;
	font-weight: bolder;
}

.original_price {
	float: left;
	margin: 2px 0 0 13px;
	font-size: 12px;
	text-decoration: line-through;
}

.discount {
	float: left;
	margin: 2px 0 0 13px;
	font-size: 12px;
}

.divider {
	float: left;
	margin: 8px 0;
	width: 688px;
	height: 1px;
	border-bottom: 1px solid #e8e8e8;
	clear: both;
}

/**** EXPIRE HEADER *************/

#expire_24hr {
	float: left;
	margin-bottom: 13px;
	width: 688px;
	height: 28px;
	clear: both;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -300px no-repeat;
}

#expire_soon {
	float: left;
	margin-bottom: 13px;
	width: 688px;
	height: 28px;
	clear: both;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -350px no-repeat;
}

#expired {
	float: left;
	margin-bottom: 13px;
	width: 688px;
	height: 28px;
	clear: both;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -400px no-repeat;
}

/**** SEE MORE *************/

#see_more a {
	float: left;
	margin-top: -8px;
	width: 728px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -150px no-repeat;
}

#see_more a:hover { background-position: 0 -198px; }
#see_more a:active { background-position: 0 -246px; }
	
/**** SIDEBAR *************/

#sidebar {
	float: right;
	margin-bottom: 18px;
	width: 240px;
}

#sidebar_top {
	float: left;
	margin: 0;
	width: 240px;
	height: 18px;
	background: url(/images/sidebar_sprite.png) 0 0 no-repeat;
}

#sidebar_main {
	float: left;
	margin: 0;
	padding: 0 18px;
	width: 204px;
	background-color: #aecfe4;
	clear: both;
}

#sidebar_bot {
	margin: 0;
	width: 240px;
	height: 18px;
	background: url(/images/sidebar_sprite.png) -250px 0 no-repeat;
	clear: both;
}

/**** CATEGORY *************/

#category_header {
	float: left;
	width: 144px;
	height: 36px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -500px 0 no-repeat;
}

#category_list {
	float: left;
	clear: both;
}

.menu_item_types_unselected_16 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) 0 -50px no-repeat;
}

.menu_item_types_unselected_16 a:hover { background-position: 0 -71px; }
.menu_item_types_unselected_16 a:active { background-position: 0 -92px; }


.menu_item_types_selected_16 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) 0 -92px no-repeat;
}


.menu_item_types_unselected_17 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -50px no-repeat;
}

.menu_item_types_unselected_17 a:hover { background-position: -100px -71px; }
.menu_item_types_unselected_17 a:active { background-position: -100px -92px; }

.menu_item_types_selected_17 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -92px no-repeat;
}

.menu_item_types_unselected_18 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -200px -50px no-repeat;
}

.menu_item_types_unselected_18 a:hover { background-position: -200px -71px; }
.menu_item_types_unselected_18 a:active { background-position: -200px -92px; }

.menu_item_types_selected_18 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -200px -92px no-repeat;
}

.menu_item_types_unselected_19 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -50px no-repeat;
}

.menu_item_types_unselected_19 a:hover { background-position: -300px -71px; }
.menu_item_types_unselected_19 a:active { background-position: -300px -92px; }

.menu_item_types_selected_19 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -92px no-repeat;
}

.menu_item_types_unselected_20 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -50px no-repeat;
}

.menu_item_types_unselected_20 a:hover { background-position: -400px -71px; }
.menu_item_types_unselected_20 a:active { background-position: -400px -92px; }

.menu_item_types_selected_20 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 69px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -92px no-repeat;
}

.menu_item_types_unselected_21 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -500px -50px no-repeat;
}

.menu_item_types_unselected_21 a:hover { background-position: -500px -71px; }
.menu_item_types_unselected_21 a:active { background-position: -500px -92px; }

.menu_item_types_selected_21 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -500px -92px no-repeat;
}

.menu_item_types_unselected_22 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -600px -50px no-repeat;
}

.menu_item_types_unselected_22 a:hover { background-position: -600px -71px; }
.menu_item_types_unselected_22 a:active { background-position: -600px -92px; }

.menu_item_types_selected_22 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -600px -92px no-repeat;
}

.menu_item_types_unselected_23 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -700px -50px no-repeat;
}

.menu_item_types_unselected_23 a:hover { background-position: -700px -71px; }
.menu_item_types_unselected_23 a:active { background-position: -700px -92px; }

.menu_item_types_selected_23 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -700px -92px no-repeat;
}

.menu_item_types_unselected_24 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -800px -50px no-repeat;
}

.menu_item_types_unselected_24 a:hover { background-position: -800px -71px; }
.menu_item_types_unselected_24 a:active { background-position: -800px -92px; }

.menu_item_types_selected_24 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -800px -92px no-repeat;
}

/**** LOCATION *************/

#location_header {
	float: left;
	width: 136px;
	height: 36px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -650px 0 no-repeat;
}

#location_list {
	float: left;
	clear: both;
}

.menu_locations_unselected_19 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) 0 -150px no-repeat;
}

.menu_locations_unselected_19 a:hover { background-position: 0 -171px; }
.menu_locations_unselected_19 a:active { background-position: 0 -192px; }

.menu_locations_selected_19 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) 0 -192px no-repeat;
}

.menu_locations_unselected_20 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -150px no-repeat;
}

.menu_locations_unselected_20 a:hover { background-position: -100px -171px; }
.menu_locations_unselected_20 a:active { background-position: -100px -192px; }

.menu_locations_selected_20 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -192px no-repeat;
}

.menu_locations_unselected_21 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -200px -150px no-repeat;
}

.menu_locations_unselected_21 a:hover { background-position: -200px -171px; }
.menu_locations_unselected_21 a:active { background-position: -200px -192px; }

.menu_locations_selected_21 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -200px -192px no-repeat;
}

.menu_locations_unselected_22 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -150px no-repeat;
}

.menu_locations_unselected_22 a:hover { background-position: -300px -171px; }
.menu_locations_unselected_22 a:active { background-position: -300px -192px; }

.menu_locations_selected_22 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -192px no-repeat;
}

.menu_locations_unselected_23 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -150px no-repeat;
}

.menu_locations_unselected_23 a:hover { background-position: -400px -171px; }
.menu_locations_unselected_23 a:active { background-position: -400px -192px; }

.menu_locations_selected_23 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -192px no-repeat;
}

.menu_locations_unselected_24 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -500px -150px no-repeat;
}

.menu_locations_unselected_24 a:hover { background-position: -500px -171px; }
.menu_locations_unselected_24 a:active { background-position: -500px -192px; }

.menu_locations_selected_24 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -500px -192px no-repeat;
}

.menu_locations_unselected_25 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -600px -150px no-repeat;
}

.menu_locations_unselected_25 a:hover { background-position: -600px -171px; }
.menu_locations_unselected_25 a:active { background-position: -600px -192px; }

.menu_locations_selected_25 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -600px -192px no-repeat;
}

.menu_locations_unselected_26 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -700px -150px no-repeat;
}

.menu_locations_unselected_26 a:hover { background-position: -700px -171px; }
.menu_locations_unselected_26 a:active { background-position: -700px -192px; }

.menu_locations_selected_26 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -700px -192px no-repeat;
}

.menu_locations_unselected_27 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -800px -150px no-repeat;
}

.menu_locations_unselected_27 a:hover { background-position: -800px -171px; }
.menu_locations_unselected_27 a:active { background-position: -800px -192px; }

.menu_locations_selected_27 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -800px -192px no-repeat;
}

.menu_locations_unselected_28 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -900px -150px no-repeat;
}

.menu_locations_unselected_28 a:hover { background-position: -900px -171px; }
.menu_locations_unselected_28 a:active { background-position: -900px -192px; }

.menu_locations_selected_28 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) -900px -192px no-repeat;
}

.menu_locations_unselected_29 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) 0 -250px no-repeat;
}

.menu_locations_unselected_29 a:hover { background-position: 0 -271px; }
.menu_locations_unselected_29 a:active { background-position: 0 -292px; }

.menu_locations_selected_29 a {
	float: left;
	margin: 2px 0 2px 18px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	background: url(/images/sidebar_sprite.png) 0 -292px no-repeat;
}

.menu_locations_unselected_30 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -250px no-repeat;
}

.menu_locations_unselected_30 a:hover { background-position: -100px -271px; }
.menu_locations_unselected_30 a:active { background-position: -100px -292px; }

.menu_locations_selected_30 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -100px -292px no-repeat;
}

.menu_locations_unselected_31 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -200px -250px no-repeat;
}

.menu_locations_unselected_31 a:hover { background-position: -200px -271px; }
.menu_locations_unselected_31 a:active { background-position: -200px -292px; }

.menu_locations_selected_31 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -200px -292px no-repeat;
}

.menu_locations_unselected_32 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -250px no-repeat;
}

.menu_locations_unselected_32 a:hover { background-position: -300px -271px; }
.menu_locations_unselected_32 a:active { background-position: -300px -292px; }

.menu_locations_selected_32 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -300px -292px no-repeat;
}

.menu_locations_unselected_33 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -250px no-repeat;
}

.menu_locations_unselected_33 a:hover { background-position: -400px -271px; }
.menu_locations_unselected_33 a:active { background-position: -400px -292px; }

.menu_locations_selected_33 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 49px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -400px -292px no-repeat;
}

.menu_locations_unselected_34 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -500px -250px no-repeat;
}

.menu_locations_unselected_34 a:hover { background-position: -500px -271px; }
.menu_locations_unselected_34 a:active { background-position: -500px -292px; }

.menu_locations_selected_34 a {
	float: left;
	margin: 2px 0 2px 8px;
	width: 34px;
	height: 21px;
	text-indent: -9999px;
	clear: both;
	background: url(/images/sidebar_sprite.png) -500px -292px no-repeat;
}

/**** MENU ITEM *************/

.menu_item ul {
	float: left;
	margin: 0 0 0 4px;
	list-style: none;
	clear: both;
}

.menu_item ul li {
	float: left;
}


/**** MENU COUNT *************/

.menu_count {
	float: left;
	margin-left: 4px;
	color: #4e88ac;
	text-decoration: underline;
	*clear: right; /* IE6 and IE7 fix so count is on right */
}

.breadcrumbs {
	font-size: 18px;
	color: #5DA2BA;
	clear: both;
	font-weight: bold;
}

#content h1 {
	font-size: 14px;
	margin-bottom: 6px;
	margin-top: 6px;
}

#sidebar h2 {
	font-size: 14px;
	margin-bottom: 4px;
	margin-top: 4px;
}

#content p {
	margin-bottom: 8px;
	margin-top: 8px;
}

.notice {
	color: green;
}

.alert {
	color: red;
}

.admin_spacing {
	margin-bottom: 35px;
}

.actions {
	margin-top: 15px;
}

table {
	border-left-style: solid;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}

td {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	margin: 10px;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

/**** PERSONALIZATION CATEGORY *************/

#per_cat_header {
	float: left;
	margin-bottom: 8px;
	width: 144px;
	height: 50px;
	display: block;
	text-indent: -9999px;
	background: url(/images/index/per_cat_header.png) no-repeat;
}

#per_cat_list {
	float: left;
	clear: both;
}

.per_cat_col {
	float: left;
	margin-right: 13px;
}

#per_cat_restaurant_cafe {
	float: left;
	margin: 2px 0 8px 0;
	width: 77px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 0 no-repeat;
}

#per_cat_restaurant_cafe:hover {
	background-position: 0 -23px;
}

#per_cat_restaurant_cafe:active {
	background-position: 0 -46px;
}

#per_cat_bar_wine {
	float: left;
	margin: 2px 0 8px 0;
	width: 77px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -69px no-repeat;
}

#per_cat_bar_wine:hover {
	background-position: 0 -92px;
}

#per_cat_bar_wine:active {
	background-position: 0 -115px;
}

#per_cat_beauty_life {
	float: left;
	margin: 2px 0 8px 0;
	width: 77px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -138px no-repeat;
}

#per_cat_beauty_life:hover {
	background-position: 0 -161px;
}

#per_cat_beauty_life:active {
	background-position: 0 -184px;
}

#per_cat_leisure_hobby {
	float: left;
	margin: 2px 0 8px 0;
	width: 77px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -207px no-repeat;
}

#per_cat_leisure_hobby:hover {
	background-position: 0 -230px;
}

#per_cat_leisure_hobby:active {
	background-position: 0 -253px;
}

#per_cat_play_exhibition {
	float: left;
	margin: 2px 0 8px 0;
	width: 77px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -276px no-repeat;
}

#per_cat_play_exhibition:hover {
	background-position: 0 -299px;
}

#per_cat_play_exhibition:active {
	background-position: 0 -322px;
}

#per_cat_travel {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -345px no-repeat;
}

#per_cat_travel:hover {
	background-position: 0 -368px;
}

#per_cat_travel:active {
	background-position: 0 -391px;
}

#per_cat_other {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_category.png) 0 -414px no-repeat;
}

#per_cat_other:hover {
	background-position: 0 -437px;
}

#per_cat_other:active {
	background-position: 0 -460px;
}

/**** PERSONALIZAITON LOCATION *************/

#per_loc_header {
	float: left;
	margin: 8px 0;
	width: 136px;
	height: 50px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_loc_header.png) no-repeat;
}

#per_loc_list {
	float: left;
	clear: both;
}

.per_loc_col {
	float: left;
	margin-right: 18px;
}

#per_loc_seoul {
	float: left;
	margin: 2px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 0 no-repeat;
}

#per_loc_seoul:hover {
	background-position: 0 -23px;
}

#per_loc_seoul:active {
	background-position: 0 -46px;
}

#per_loc_gangnam {
	float: left;
	margin: 2px 0 2px 13px;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -69px no-repeat;
}

#per_loc_gangnam:hover {
	background-position: 0 -92px;
}

#per_loc_gangnam:active {
	background-position: 0 -115px;
}

#per_loc_gangbuk {
	float: left;
	margin: 2px 0 2px 13px;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -138px no-repeat;
}

#per_loc_gangbuk:hover {
	background-position: 0 -161px;
}

#per_loc_gangbuk:active {
	background-position: 0 -184px;
}

#per_loc_gyeonggido {
	float: left;
	margin: 2px 0;
	width: 55px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -207px no-repeat;
}

#per_loc_gyeonggido:hover {
	background-position: 0 -230px;
}

#per_loc_gyeonggido:active {
	background-position: 0 -253px;
}

#per_loc_ilsan {
	float: left;
	margin: 2px 0 2px 13px;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -276px no-repeat;
}

#per_loc_ilsan:hover {
	background-position: 0 -299px;
}

#per_loc_ilsan:active {
	background-position: 0 -322px;
}

#per_loc_bundang {
	float: left;
	margin: 2px 0 2px 13px;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -345px no-repeat;
}

#per_loc_bundang:hover {
	background-position: 0 -368px;
}

#per_loc_bundang:active {
	background-position: 0 -391px;
}

#per_loc_incheon {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -414px no-repeat;
}

#per_loc_incheon:hover {
	background-position: 0 -437px;
}

#per_loc_incheon:active {
	background-position: 0 -460px;
}

#per_loc_busan {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -483px no-repeat;
}

#per_loc_busan:hover {
	background-position: 0 -506px;
}

#per_loc_busan:active {
	background-position: 0 -529px;
}

#per_loc_daegu {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -552px no-repeat;
}

#per_loc_daegu:hover {
	background-position: 0 -575px;
}

#per_loc_daegu:active {
	background-position: 0 -598px;
}

#per_loc_ulsan {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -621px no-repeat;
}

#per_loc_ulsan:hover {
	background-position: 0 -644px;
}

#per_loc_ulsan:active {
	background-position: 0 -667px;
}

#per_loc_gwangju {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -690px no-repeat;
}

#per_loc_gwangju:hover {
	background-position: 0 -713px;
}

#per_loc_gwangju:active {
	background-position: 0 -736px;
}

#per_loc_daejeon {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -759px no-repeat;
}

#per_loc_daejeon:hover {
	background-position: 0 -782px;
}

#per_loc_daejeon:active {
	background-position: 0 -805px;
}

#per_loc_other {
	float: left;
	margin: 2px 0 8px 0;
	width: 38px;
	height: 23px;
	display: block;
	text-indent: -9999px;
	clear: both;
	background: url(/images/index/per_location.png) 0 -828px no-repeat;
}

#per_loc_other:hover {
	background-position: 0 -851px;
}

#per_loc_other:active {
	background-position: 0 -874px;
}

/**** FOOTER *************/

/**** FOOTER *************/

#footer {
	float: left;
	padding-top: 8px;
	width: 100%;
	height: 188px;
	background-color: #181818;
}

#footer_home a {
	float: left;
	width: 21px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -500px -450px no-repeat;
}


#footer_home a:hover { background-position: -500px -498px; }
#footer_home a:active { background-position: -500px -546px; }

#footer_all a {
	float: left;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) 0 -450px no-repeat;
}

#footer_all a:hover { background-position: 0 -498px; }
#footer_all a:active { background-position: 0 -546px; }

#footer_my a {
	float: left;
	width: 69px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -100px -450px no-repeat;
}

#footer_my a:hover { background-position: -100px -498px; }
#footer_my a:active { background-position: -100px -546px; }

#footer_blog a {
	float: left;
	width: 53px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -550px -450px no-repeat;
}

#footer_blog a:hover { background-position: -550px -498px; }
#footer_blog a:active { background-position: -550px -546px; }

#footer_fun a {
	float: left;
	width: 53px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -650px -450px no-repeat;
}

#footer_fun a:hover { background-position: -650px -498px; }
#footer_fun a:active { background-position: -650px -546px; }

#footer_partner {
	float: left;
	width: 73px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -700px -300px no-repeat;
}

#footer_email a {
	float: left;
	width: 149px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -750px -200px no-repeat;
}

#footer_email a:hover { background-position: -750px -248px; }

#footer_subscribe {
	float: left;
	width: 73px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -800px -300px no-repeat;
}

#footer_twitter a {
	float: left;
	margin: 10px 0 0 8px;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -900px -50px no-repeat;
}

#footer_facebook a {
	float: left;
	margin: 10px 0 0 4px;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -900px -100px no-repeat;
}

#footer_logo a {
	float: right;
	width: 128px;
	height: 48px;
	text-indent: -9999px;
	background: url(/images/index_sprite.png) -750px -50px no-repeat;
}

#footer_logo a:hover { background-position: -750px -98px; }
#footer_logo a:active { background-position: -750px -146px; }