/**** RESETS DEFAULT BROWSER STLES *************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

.main_gp {
	display: none;
}

/* Tables still need 'cellspacing="0"' in the markup. */

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/**** PUMPL STYLE STARTS HERE *************/

body {
	margin: 0;
	padding: 0;
	background-color: #e8e8e8;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "NanumGothic", "MalgunGothic", sans-serif;
	font-size: 14px;
	color: #181818;
	line-height: 140%;
}

p {
	padding: 10px 0;
	clear: both;
}

strong {
	font-weight: bold;
}

#container {
	margin: 20px auto;
	width: 960px;
}

#main {
	float: left;
	background-color: #fff;
}

#content {
	float: left;
	padding: 20px;
	width: 600px;
	background-color: #181818;
}

#content img {
    max-width: 100% !important;
  	height: auto;
}

#sidebar {
	float: left;
	padding: 25px;
	width: 270px;
}

	#sidebar_content {
		width: 270px;
		position: fixed;
	}
	
		#title {
			padding: 20px 0 10px 0;
			font-size: 18px;
			clear: both;
		}
		
		.byline {
			color: #68b2e0;
			font-weight: bold;
		}
		
		#time {
    		float: right;
    		margin: -8px 0 8px 0;
    		color: #888;
		}
		
		#sidebar_content input[type="text"] {
			float: left;
		    margin: 10px 0;
		    padding: 4px;
		    width: 182px;
		    height: 20px;
		    font-size: 16px;
		    display: block;
		}
		
		#sidebar_content input[type="submit"] {
			margin: 10px 0 0 8px;
			background: url(../images/index/submit.png) 0 0 no-repeat transparent;
			height: 32px;
			width: 68px;
			border: none;
			text-indent: -9999em;
		}
		
		#sidebar_content input[type="submit"]:hover {
		    background-position: 0 -32px;
		}
		
		#sidebar_content input[type="submit"]:active {
		    background-position: 0 -64px;
		}

#footer {
	float: left;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

/**** LAUNCH STYLES *************/

#launch_content {
	margin: 88px auto;
	padding: 40px;
	width: 348px;
	background: #111;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.75);
}

#launch_content img {
	margin-bottom: 15px;
}

#launch_content p {
	color: #fff;
	text-shadow: #000 0px 1px 0px;
	line-height: 150%;
}

#launch_content input[type="text"] {
	float: left;
    margin: 10px 0;
    padding: 4px;
    width: 248px;
    height: 20px;
    font-size: 16px;
    display: block;
}

#launch_content input[type="submit"] {
	margin: 10px 0 0 8px;
	background: url(../images/index/submit.png) 0 0 no-repeat transparent;
	height: 32px;
	width: 68px;
	border: none;
	text-indent: -9999em;
}

#launch_content input[type="submit"]:hover {
    background-position: 0 -32px;
}

#launch_content input[type="submit"]:active {
    background-position: 0 -64px;
}