@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: normal;
    src: local('NanumGothic'), local('나눔고딕'), url('http://commondatastorage.googleapis.com/fontfacekr-fonts/NanumGothic.woff') format('woff');
}