<div id="launch_content">
	<div>
	  <img src="/images/index/logo.png">
	  <p>Thanks for registering! The more friends you invite, the sooner you get access! Share with your friends below!</p>
	
	  <p><a href="http://twitter.com/share" target="_blank">Tweet</a></p>

		<div></div>	
	  <p>Or copy and paste the following link to share wherever you want!</p>
	
	  <div><%= text_field_tag "copas", "http://#{request.host_with_port}/v#{cookies[:guid]}" %></div>
	  <p>You have currently referred <%= @invite.references.size %> friends</p>
	</div>
</div>

<!--
<div>

	<div>

		<div>
			<img src="http://images/index/logo.png">
			<p>Thanks for registering! The more friends you invite, the sooner you get access! Share with your friends below!</p>
			<div style="float:left"><a href="http://twitter.com/share" target="_blank">Tweet</a></div>

			<div></div>
			<p>Or copy and paste the link below to share wherever you want!</p>
			<input type="text" name="url" value="http://pumpl.com">
			<p>You have currently referred 0 friends.</p>
		</div> 

	</div>

	

</div>

-->