<div id="launch_content">
	<div>
	  <img src="/images/index/logo.png">
    <%= render :partial => "thank_you" %>  
	  <p>You have currently referred <%= @invite.references.size %> friends</p>
	</div>
</div>
