<h1>New Location</h1>

<%= form_for(@category,:url => admin_categories_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= render :template => "admin/categories/index" %>
