
<div style="font-size:24px;">Title : <%= @photo.title %></div>

<p>Thumbnail : <br />
<%= image_tag @photo.true_image_url(:thumbnail => true) %></p>

<p>Original : <br />
<%= image_tag @photo.true_image_url %></p>

	  