<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>PUMPL</title>
	
	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
	
	<script type="text/javascript">  
	
		//clears default value of text fields
		function clearText(field){
		    if (field.defaultValue == field.value) field.value = '';
		    else if (field.value == '') field.value = field.defaultValue;
		}
		
	</script>
	
</head>

<body>
<%= yield %>	
</body>
</html>	